<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Investimento Inicial</label>
            <input id="initial-investment" type="number" />
        </p>
        <p>
            <label for="annual-investment">Investimento Anual</label>
            <input id="annual-investment" type="number" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Retorno Esperado</label>
            <input id="expected-return" type="number" />
        </p>
        <p>
            <label for="duration">Duração</label>
            <input id="duration" type="number" />
        </p>
    </div>
    <p>
        <button>Calcular</button>
    </p>
</form>